#############
## Idea
#############
*.gitignore
JavaRushTasks/.vs/
JavaRushTasks/.idea/
JavaRushTasks/lib/
JavaRushTasks/out.log
JavaRushTasks/Instruction.png
JavaRushTasks/JavaRushPlugin.properties
JavaRushTasks/JavaRushTasks.iml
Instruction.png
JavaRushPlugin.properties
JavaRushTasks.iml
out.log
External Libraries/
.idea/
lib/